* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
body {
	background-image: url(../img/Bg.jpg);
	background-size: 5 px;
	background-color: black;
	color: white;
	font-family: raleway-c;
	overflow-x: hidden;
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
}
.main-header {
	height: 100vh;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}

.footer {
	background-color: rgba(5, 248, 155, 0.3);;
	color: #fff;
	padding: 30px;
	animation: animatedBg 5s linear infinite;
text-align: right;
}
.footer {
	margin-top: auto;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50	;
	animation: animatedBg 5s linear infinite;
	
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(5, 248, 155, 0.3);
	z-index: 3;
}

.container {
	max-width: 1180px;
	margin: 0px auto;
	padding:0px 10px;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__list li {
	list-style: none;
	margin: 0px 0px 0px 20px;
}
.header__list {
	display: flex;
	position: relative;
	z-index: 3	;
}
.header__link {
	color:#fff;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 25px 30px;
	overflow: hidden;
}
.header__link:hover {
	background-color: #fff;
	color: black;
	box-shadow: 0 0 5px #fff,
	0 0 25px #fff, 
	0 0 50px #fff,
	0 0 200px #fff;
	-webkit-box-reflect: below 1px linear-gardient(transparent, #0005);
}
.header__link:first-child {
	filter: hue-rotate(224deg);
}
.header__link:last-child {
	filter: hue-rotate(90deg);
}
.header__link span {
	position: absolute;
	display: block;
}
.header__link span:nth-child(1) {
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: linear-gradient(90deg, transparent, #fff);
	animation: animateon1 1s infinite;
}
@keyframes animateon1 {
0% {
	lef: -100%;
}
100% {
	left: 100%;
}
}

.header__link span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 1px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #fff);
	animation: animateon2 1s infinite;
	animation-delay: .25s;
}
@keyframes animateon2 {
	0% {
		top: -100%;
	}
	100% {
		top: 100%;
	}
	}
	.header__link span:nth-child(3) {
		bottom: 0;
		right: 0;
		width: 100%;
		height: 1px;
		background: linear-gradient(270deg, transparent, #fff);
		animation: animateon3 1s infinite;
		animation-delay: .5s;
	}
	@keyframes animateon3 {
		0% {
			right: -100%;
		}
		100% {
			right: 100%;
		}
		}

		.header__link span:nth-child(4) {
			bottom: -100%;
			left: 0;
			width: 1px;
			height: 100%;
			background: linear-gradient(360deg, transparent, #fff);
			animation: animateon4 1s infinite;
			animation-delay: .75s;
		}
		@keyframes animateon4 {
			0% {
				bottom: -100%;
			}
			100% {
				bottom: 100%;
			}
			}

	.header__logo {
		font-size: 40px;
		z-index: 3;
		width: 100%; 
	height: 100%; 
	position: fixed; 
	left: 0px; 
	top: 0px; 
	text-align: center;
	margin-top: 15px;
	}
